@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic&family=Tajawal&display=swap');

.input {
    text-align: right;
    padding: 8px !important;
    border: 1px solid #979797;
    border-radius: 5px;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
}