@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic&family=Tajawal&display=swap');

.table__container {
    overflow-x: auto;
    text-align: center;
    margin: 50px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}
  
th, td {
    text-align: left;
    padding: 8px;
    text-align: right;
    border: 1px solid black;
}

th {
    background-color: aqua;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    font-size: smaller;
}

td {
    background-color: white;
}