@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic&family=Tajawal&display=swap');

.table__container {
    overflow-x: auto;
    text-align: center;
    margin: 50px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
	font-family: 'IBM Plex Sans Arabic', sans-serif !important;
	font-size: smaller;
}
  
th, td {
    text-align: left;
    padding: 8px;
    text-align: center !important;
    border: 1px solid black;
}

th {
    background-color: #fbf9c5 !important;
	font-weight: bold !important;
}

td {
    background-color: white;
}

*  {
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

table { 
	background: #FFF;
	border-collapse: collapse;
	width: 100%;  
}

td,
th { 
	padding: 4px; 
	border: 1px solid #CCC;
	overflow: hidden;
	text-align: left;
	vertical-align: middle;
}

th { 
	background-color: #DDD; 
	font-weight: 400;
}

th p,
td p { 
	display: block;
	width: 100%;
	cursor: pointer;
}

th p.sort-by { 
	padding-right: 18px;
	position: relative;
}

p.sort-by:before,
p.sort-by:after {
	border: 4px solid transparent;
	content: "";
	display: block;
	height: 0;
	right: 5px;
	top: 50%;
	position: absolute;
	width: 0;
}

p.sort-by:before {
	border-bottom-color: #666;
	margin-top: -9px;
}

p.sort-by:after {
	border-top-color: #666;
	margin-top: 1px;
}